<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
<div ng-app="MyApp" ng-controller="MyController">
        Email:
        <input type="text" ng-model="Username" ng-keyup="ClearMessage()"/>
        <input type="button" value="Show Availability" ng-click="CheckAvailability()"/>
        <br/>
        <span ng-bind="Message" ng-style="{color:Color}"></span>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope, $http) {
            $scope.CheckAvailability = function () {
                console.log(" Username "+$scope.Username+"***");

                $http({
                    method: "POST",
                    url: "/UserNameAvailability/"+$scope.Username,
                  
                  
                  
        			headers:{
        				'Content-Type' : 'application/json'
        			}
                    
                }).success(function (data, status) {
                console.log("data  "+data[0].exit);
                var existValue=data[0].exit
                    if (existValue===1) {
                        //Email available.
                   console.log("data  "+data+"status   "+status+" Username "+$scope.Username);

                        $scope.Color = "green";
                        $scope.Message = "Email is available";
                    }
                    else {
                        //Email not available.
                           console.log("data  "+data+"status   "+status+" Username "+$scope.Username);


                        $scope.Color = "red";
                        $scope.Message = "Email is NOT available";
                    }
                });

            };
            $scope.ClearMessage = function () {
                $scope.Message = "";
            };
        });
    </script>
</body>
</html>